@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(19, 19, 19);
    font-size: 1rem;
    color: #fff; 
    height: 100%;
    width: 100%;
    border-radius: 4px;
    margin: auto;
 }
 .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar ul li:last-child { 
	float: right; 
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #111;
}	
.navbar{
	background-color: red;

}

.navbar li ul {
	display: none;
    position: absolute;
}
.navbar li:hover ul {
	display: block;
}

.description {
    margin: auto;
    width: 60%;
    border: 5px solid white;
    padding: 10px;
    display: flex;
  }
button{
    background-color: #555555;
    margin: auto;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: flex;
    
}

 